@charset "UTF-8";

.SettingModal {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 84vw;
  height: 75vh;
  z-index: 30;
  background: #ffffff;
  border-radius: 30px;
}
.SettingModal .SetModal {
  position: absolute;
  width: 50vw;
  height: 65vh;
  left: 31vw;
  top: 5vh;
}
.SettingModal .SetModal .SEtLabel {
  font-size: 2.5vw;
  display: flex;
  align-items: center;
  color: #b2a5a5;
}
.SettingModal .SetModal .SEtMidModalChangediv {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 50vw;
  height: 55vh;
  left: 31vw;
  margin-top: 3vh;
}

.ModalInputBox {
  width: 45vw;
  height: 15vh;
}

.SettingModal .SetModal .SEtMidModalChangediv .ModalInputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.SettingModal
  .SetModal
  .SEtMidModalChangediv
  .ModalInputBox
  .SetMidPartnerLable {
  font-size: 2vw;
  width: 16vw;
  color: #9b9a9a;
  /* background-color: #000000; */
}

.SettingModal
  .SetModal
  .SEtMidModalChangediv
  .ModalInputBox
  .SetMMPartnerCheckdiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2vw;
}

.SettingModal
  .SetModal
  .SEtMidModalChangediv
  .ModalInputBox
  .SetMMPartnerCheckdiv
  .blurdiv {
  position: relative;
  background: rgba(104, 187, 189, 0.2);
  filter: blur(18.75px);
  width: 27vw;
  height: 8vh;
}

.SettingModal
  .SetModal
  .SEtMidModalChangediv
  .ModalInputBox
  .SetMMPartnerCheckdiv
  .gender {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.SettingModal
  .SetModal
  .SEtMidModalChangediv
  .ModalInputBox
  .SetMMPartnerCheckdiv
  .range-slider {
  width: 100%;
}

.SettingModal
  .SetModal
  .SEtMidModalChangediv
  .ModalInputBox
  .SetMMPartnerCheckdiv
  .range-slider
  input[type="range"] {
  position: relative;
  width: 100%;
}

.SettingModal
  .SetModal
  .SEtMidModalChangediv
  .ModalInputBox
  .SetMMPartnerCheckdiv
  .range-slider
  .progressSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.4em;
  cursor: pointer;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: auto;
  width: 1.5vw;
  height: 1.5vw;
  background-color: rgb(168, 222, 223);
  border-radius: 50%;
  z-index: 20;
}

.range-slider {
  -webkit-appearance: none;
  position: absolute;
  left: 1vw;
  right: 2vw;
  display: flex;
  z-index: 5;
  width: 100%;
}

.range-slider .progressSlider {
  background-color: #a8dedf;
  border-radius: 10vw;
  top: 0.28vw;
  transform: translateY(-50%);
  pointer-events: none;
}

.range-slider1 {
  -webkit-appearance: none;
  width: 80%;
  height: 0.5em;
  background-color: transparent;
  border-radius: 0.25em;
  outline: none;
  position: absolute;
  margin: 1em auto;
  cursor: pointer;
  background-color: #eaf6f6;
}

.range-slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5vw;
  height: 1.5vw;
  background-color: rgb(168, 222, 223);
  border-radius: 50%;
  pointer-events: auto;
}

.range-bar {
  position: absolute;
  margin-top: 4.1vh;
  height: 0.4em;
  background-color: #a8dedf;
  width: 90%;
  border-radius: 0.25em;
  pointer-events: none;
  z-index: 11;
}

.range-slider1-left {
  left: 0;
}

.range-slider1-right {
  right: 0;
}

.setsavebtn {
  position: absolute;
  width: 8vw;
  height: 5vh;
  left: 69vw;
  top: 7vh;
  border-radius: 70px;
  color: #68bbbd;
  cursor: pointer;
  font-size: 2vw;
  border: solid 1px #68bbbd;
  z-index: 10;
}

.setsavebtn:hover {
  background-color: #68bbbd;
  color: #eaf6f6;
}
