@charset "UTF-8";

.MIbackbtn {
  position: absolute;
  width: 10vw;
  margin-top: 5vh;
  margin-left: 5vh;
  font-size: 4vw;
  align-items: center;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .MIbackbtn {
    font-size: 32px;
    line-height: 64px;
  }
}

.MIImgDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 70vh;
}

.MIImgDiv .MIImgBack {
  width: 35vw;
  height: 70vh;
  background-image: url(../../assets/images/woman.jpg);
  background-size: 100% 100%;
  border-radius: 70%;
}

.MIImgDiv .MIImg {
  width: 35vw;
  height: 70vh;
  background-size: 100% 100%;
  border-radius: 70%;
}

.MIImgDiv .MIUserImg {
  width: 35vw;
  height: 70vh;
  background-size: 100% 100%;
  border-radius: 70%;
}

.MIHashTag {
  position: absolute;
  width: 15vw;
  left: 5%;
  top: 20%;
  font-size: 3vw;
  align-items: center;
  color: #ffffff;
}

.MIHashSet {
  position: absolute;
  width: 9vw;
  height: 7vh;
  left: 6.5%;
  top: 28%;
  background: #ffffff;
  border: 1.5px dashed #50a1a3;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.MIHashSet .MIHashSetIcon {
  position: relative;
  width: 1.5vw;
  height: 3vh;
  margin-left: 1vw;
  background: url(../../assets/images/plus.png);
  background-size: 100% 100%;
}
.MIHashSet .MIHashSetText {
  position: absolute;
  width: 5vw;
  height: 4vh;
  font-size: 1.2vw;
  margin-left: 1vw;
  align-items: center;
  text-align: center;
  color: #50a1a3;
  /* background-color: black; */
}

.MINameAgeDiv {
  position: absolute;
  width: 25vw;
  height: 15vh;
  left: 5%;
  bottom: 10%;
}
.MINameAgeDiv .MIName {
  position: absolute;
  width: 25vw;
  height: 7.5vh;
  left: 0px;
  bottom: 0px;
  margin-left: 20;
  /* font-weight: 400px; */
  font-size: 2.5vw;
  /* line-height: 55px; */
  /* identical to box height */
  align-items: center;
  text-align: left;
  color: #ffffff;
}
.MINameAgeDiv .MIAge {
  position: absolute;
  width: 25vw;
  height: 7.5vh;
  left: 0%;
  font-size: 2.5vw;
  /* line-height: 55px; */
  /* identical to box height */
  text-align: left;
  color: #ffffff;
}

.MIEdit {
  position: absolute;
  width: 15vw;
  height: 8vh;
  right: 5%;
  bottom: 10%;
  font-size: 2.5vw;
  align-items: center;
  text-align: right;
  justify-content: end;
  color: #ffffff;
  cursor: pointer;
}

.MIIntroducingDiv {
  position: absolute;
  width: 16.5vw;
  height: 40vh;
  right: 5%;
  top: 30vh;
}
.MIIntroducingDiv .MIIntroducingTitle {
  position: absolute;
  width: 15vw;
  height: 8vh;
  right: 5%;
  font-size: 2.5vw; /* identical to box height */
  align-items: center;
  text-align: right;
  color: #ffffff;
}
.MIIntroducingDiv .MIIntroducingText {
  position: absolute;
  width: 16.5vw;
  height: 30vh;
  left: 0px;
  top: 7vh;
  font-size: 1.5vw;
  text-align: left;
  color: #ffffff;
  justify-content: center;
}

.MIProfileLogo {
  position: absolute;
  width: 13vw;
  height: 10vh;
  right: 5%;
  top: 5%;
  font-size: 4vw;
  align-items: center;
  color: #ffffff;
}

.DarkBlurDiv {
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0.5;
  z-index: 10;
  background-color: black;
}

.showint {
  position: absolute;
  width: 12vw;
  height: 50vh;
  left: 6.3%;
  top: 26.5%;
  display: inline-block;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  white-space: nowrap;
  cursor: pointer;
  align-items: center;
}
.showint .showintdiv {
  position: relative;
  width: 10vw;
  height: 7vh;
  border-radius: 30px;
  background-color: #50a1a3;
  margin-top: 10px;
  color: white;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.showint .showintbox {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 25px;
  top: -4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #50a1a3;
}
.showint :hover {
  background-color: #68bbbd;
  color: white;
}
