.ChatItem {
  width: 23vw;
  height: 10vh;
  margin: 1vw;
  display: block;
  display: flex;
  background: #e1f1f2;
  border-radius: 30px;
  cursor: pointer;
}
.ChatItem .ChatPicture {
  position: relative;
  display: inline-block;
  top: 1vw;
  width: 4vw;
  height: 6vh;
  border-radius: 30px;
  background-size: cover;
}
.ChatItem .ChatContent {
  position: relative;
  display: inline-block;
  top: 0.8vw;
  width: 15vw;
  height: 7vh;
  margin-left: 1vw;
}
.ChatItem .ChatContent .ChatName {
  width: 15vw;
  height: 3.5vh;
  text-align: left;
}
.ChatItem .ChatContent .ChatName .ChatNameWho {
  position: relative;
  font-size: 1.2vw;
}
.ChatItem .ChatContent .ChatText {
  width: 15vw;
  height: 3.5vh;
  text-align: left;
  font-size: 1vw;
}
.ChatItem .ChatContent .ChatText .ChatTextWhat {
  position: absolute;
  font-size: 1.2vw;
  left: 0px;
}
.ChatItem .ChatAlarm {
  position: relative;
  top: 1.9vw;
  display: inline-block;
  width: 1.5vw;
  height: 3vh;
  background-color: red;
  border-radius: 50px;
  text-align: center;
  font-size: 1vw;
}
